@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import "@savaryna/tailwindcss-material-symbols";

@layer base {
    body {
        @apply bg-neutral-900 text-neutral-200;
    }
}

@layer components {
    .number-input {
        @apply bg-neutral-800 text-neutral-200 border border-neutral-700 rounded-md px-2 py-1 w-16 text-sm;
    }

    .progress-bar {
        -webkit-appearance: none;
        appearance: none;
        @apply bg-neutral-700 h-2 rounded-md overflow-hidden;
    }

    .progress-bar::-moz-range-progress {
        @apply bg-blue-500 h-full;
    }

    .progress-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        @apply w-0 h-0 cursor-pointer;
        box-shadow: -1000px 0 0 1000px var(--color-blue-500);
    }

    .progress-bar::-moz-range-thumb {
        @apply w-0 h-0 bg-blue-500 border-none;
    }

    .btn {
        @apply rounded-md px-3 py-1.5 text-sm bg-neutral-800 border border-neutral-700 text-neutral-200;
        @apply disabled:opacity-50 disabled:cursor-not-allowed;
        @apply hover:bg-neutral-700 transition-colors;
    }

    .dropdown {
        @apply rounded-md px-3 py-1.5 text-sm bg-neutral-800 border border-neutral-700 text-neutral-200;
    }

}